    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#" style="padding-left:133px;">Power Coin</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1"></div>
        </div>
    </nav>
    <div class="highlight-blue">
        <h2 class="text-center" style="height:100px;font-size:40px;">Market Rate</h2>
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="height:100px;font-size:57px;">$0.23 p/Kwh</h2>
                <p class="text-center">for 20 May 2017</p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="buy-sell-settings.html">Allow Battery Charging</a></div>
        </div>
    </div>
    <div class="highlight-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="height:100px;font-size:40px;">My Power</h2></div>
            <div class="buttons"></div>
        </div>
        <div class="container">
            <div class="intro"></div>
            <div class="buttons"></div>
        </div>
        <div class="container" style="padding-bottom:40px;">
            <div class="intro">
                <p class="text-center">Produced </p>
                <h2 class="text-center" style="height:100px;font-size:57px;">12 Kwh</h2>
                <p class="text-center">on 19 May 2017 </p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="buy-sell-settings.html">Allow Battery Charging</a></div>
        </div>
        <div class="container">
            <div class="intro" style="padding-left:40px;padding-right:40px;">
                <p class="text-center">Stored </p>
                <div class="progress text-align-center" style="height:50px;text-align:center;">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">75%</div>
                </div>
                <p class="text-center">36 Kwh / 48Kwh</p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="#">Allow Sale from battery</a></div>
        </div>
    </div>
    <h2 class="text-center" style="height:100px;font-size:40px;">Local Market</h2>
    <div class="container" style="padding-bottom:40px;">
        <div class="intro">
            <p class="text-center">Local Demand </p>
            <h2 class="text-center" style="height:100px;font-size:57px;">92 Kwh</h2>
            <p class="text-center">on 19 May 2017 </p>
        </div>
        <div class="buttons"></div>
    </div>
    <div class="container" style="padding-bottom:40px;">
        <div class="intro">
            <p class="text-center">Local Supply </p>
            <h2 class="text-center" style="height:100px;font-size:57px;">21 Kwh</h2>
            <p class="text-center">on 19 May 2017 </p>
        </div>
    </div>
    <div class="highlight-blue">
        <div class="container" style="padding-bottom:0 px;">
            <p class="text-center">You supplied</p>
            <h2 class="text-center" style="height:100px;font-size:57px;">19 Kwh</h2>
            <p class="text-center">on 19 May 2017</p>
            <div class="buttons"><a class="btn btn-primary" role="button" href="buy-sell-settings.html">Allow Battery Charging</a></div>
        </div>
    </div>
    <div class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Your power Controls</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="my-wallet.html">Check my Wallet</a><a class="btn btn-default" role="button" href="buy-sell-settings.html">Change Settings</a></div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>PowerCoin © 2017</h5></div>
            </div>
        </div>
    </footer>
