<nav>
    <a routerLink="/dash">Dashboard</a>&nbsp;-
    <a routerLink="/mywallet" routerLinkActive="active">My Wallet</a>&nbsp;-
    <a routerLink="/buysell" routerLinkActive="active"> Buy And Sell Settings -</a>
</nav>
<router-outlet></router-outlet>
