<md-toolbar color="primary">
  <h1>PowerCoin</h1>
</md-toolbar>
<md-card class="flight-search">
  <md-card-content>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" novalidate>
      <md-input-container>
        <input 
              type="text" 
              formControlName="GridPrice"
              mdInput
              placeholder="Grid Price">
      </md-input-container>
      <md-input-container>
        <input 
              type="text" 
              formControlName="MarketSupply"
              mdInput
              placeholder="Market Supply">
      </md-input-container>      
      <md-input-container>
        <input 
              type="input" 
              formControlName="LocalSupply"
              mdInput
              placeholder="Local Supply">
      </md-input-container>      
      <md-input-container>
        <input 
              type="input" 
              formControlName="MarketDemand"
              mdInput
              placeholder="Market Demand">      
      </md-input-container>
      <md-input-container>
        <input 
              type="input" 
              formControlName="LocalDemand"
              mdInput
              placeholder="Local Demand">
      </md-input-container>
      <button 
          type="submit"
          md-raised-button 
          color="warn" 
          [disabled]="!searchForm.valid">
          Submit
      </button>

  </form>
  </md-card-content>
</md-card>


