    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#" style="padding-left:133px;">Power Coin</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1"></div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="intro">
                        <h2 class="text-center" style="height:100px;font-size:40px;">Buy Power When</h2>
                        <p class="text-center">My Supply is </p>
                        <h2 class="text-center" style="height:100px;font-size:57px;">&gt;25%</h2>
                        <p class="text-center">or less</p>
                    </div>
                    <div class="intro">
                        <p class="text-center">and power costs</p>
                        <h2 class="text-center" style="height:100px;font-size:57px;">&gt;40% </h2>
                        <p class="text-center">less than the grid rate</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="intro">
                        <h2 class="text-center" style="height:100px;font-size:40px;">Buy Power When</h2>
                        <p class="text-center">My Supply is </p>
                        <h2 class="text-center" style="height:100px;font-size:57px;">&gt;25%</h2>
                        <p class="text-center">or less</p>
                    </div>
                    <div class="intro">
                        <p class="text-center">and power costs</p>
                        <h2 class="text-center" style="height:100px;font-size:57px;">&gt;40% </h2>
                        <p class="text-center">less than the grid rate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-bottom:40px;">
        <div class="buttons"></div>
    </div>
    <div class="container" style="padding-bottom:40px;">
        <div class="col-md-12">
            <div class="intro">
                <h2 class="text-center" style="height:100px;font-size:40px;">Sell from</h2>
                <p class="text-center">Battery </p>
                <h2 class="text-center" style="height:100px;font-size:57px;">Yes </h2>
                <p class="text-center"> </p>
            </div>
            <div class="intro">
                <p class="text-center">Generator </p>
                <h2 class="text-center" style="height:100px;font-size:57px;">Yes </h2></div>
        </div>
        <div class="col-md-12">
            <div class="intro"></div>
        </div>
    </div>
    <div class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Save Settings</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="dash.html">Save </a><a class="btn btn-default" role="button" href="dash.html">Cancel </a></div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>PowerCoin © 2017</h5></div>
            </div>
        </div>
    </footer>
