    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#" style="padding-left:133px;">Power Coin</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1"></div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="intro">
                        <h2 class="text-center" style="height:100px;font-size:40px;">Bought </h2>
                        <p class="text-center"> a total of</p>
                        <h2 class="text-center" style="height:100px;font-size:57px;">300kwh </h2>
                        <p class="text-center"> for </p>
                        <h2 class="text-center" style="height:100px;font-size:57px;">$22.12 </h2>
                        <p class="text-center">in May 2017</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="intro">
                        <h2 class="text-center" style="height:100px;font-size:40px;">Sold </h2>
                        <p class="text-center"> a total of</p>
                        <h2 class="text-center" style="height:100px;font-size:57px;">600kwh </h2>
                        <p class="text-center">for </p>
                        <h2 class="text-center" style="height:100px;font-size:57px;">$48.12 </h2>
                        <p class="text-center">in May 2017 </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="intro">
                        <h2 class="text-center" style="height:100px;font-size:40px;"> Price</h2>
                        <p class="text-center">My Supply is averging </p>
                        <h2 class="text-center" style="height:100px;font-size:57px;">$0.18</h2>
                        <p class="text-center">per Kwh for </p>
                        <h2 class="text-center" style="height:100px;font-size:57px;">May </h2>
                        <p class="text-center">2017 </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="intro">
                        <h2 class="text-center" style="height:100px;font-size:40px;">Bill</h2>
                        <p class="text-center">On the 1st Jul 2017</p>
                        <h2 class="text-center" style="height:100px;font-size:57px;">1 Jul 17 </h2>
                        <p class="text-center">you will have</p>
                        <h2 class="text-center" style="height:100px;font-size:57px;">+$26.00 </h2>
                        <p class="text-center">paid to your bank account</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>PowerCoin © 2017</h5></div>
            </div>
        </div>
    </footer>
